.descricao {
  width: 400px;
  padding-top: 10px;
}
.descricao__organizacao {
  font-size: 12px;
  font-weight: bold;
}
.descricao__tipologia {
  font-size: 12px;
  font-weight: bold;
  color: #5c8599;
}
.descricao__cidade--lei {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-top: 10px;
}

.descricao__cidade--texto {
  font-size: 12px;
  font-weight: bold;
  color: #a3becc;
  margin: 0;
}
.descricao__lei {
  background-color: #cae6ae;
  border-radius: 8px;
}
.descricao__lei--texto {
  color: #ffffff;
  margin: 0;
  padding: 5px;
}
